- @title = " | Contact"
- @subtitle = ""
- @body_class = "none"


%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.body
  .center
    .content
      .sidebar.left
        %img.logo{:src => "/images/logo.png", :alt => "Cellnyx Logo"}
        

      .main
        .content
          #section
            .title
              .details
                %h1 Contact
            .item
              .details
                %h3
                  Lori McCray
                  %span.small Sales & Marketing Director
                %p
                  %a{:href=> "mailto:lori@cellnyx.com"}lori@cellnyx.com
                  = " | "
                  713-837-6825
            .item
              .details
                %h3
                  Chris Nelsen
                  %span.small Director of Laboratories
                %p
                  %a{:href=> "mailto:lori@cellnyx.com"}chris@cellnyx.com
            

