@import base

@import screen
@import portrait
@import landscape
@import mobile-480
@import partials/m3c-bar
//@import partials/navmenu

// Media queries for responsive design
// These follow after primary styles so they will successfully override

@media all and (orientation:portrait)
	+portrait

@media all and (orientation:landscape)
	+landscape

// Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
@media screen and (max-device-width: 480px)
	+mobile-480


html
	margin: 0
	padding: 0
	background: $html-bg

body
	//@extend .bg-gradient-primary
	margin: 0
	padding: 0
	background: $body-bg

.content
	@extend .box
	position: relative
	width: 100%
	margin: 0
	padding: 0
	
#alt-nav
	@extend .corner-bottom
	position: absolute
	top: 0
	right: ($h-gap *2)
	width: 200px
	height: 20px	
	color: $nav-dropdown-text
	background: $gray-med
	border-top: 2px solid $nav-dropdown-accent
	z-index: 90
	p
		position: relative
		top: -4px
		margin: 1px auto 0
		padding: 0
		text-align: center
	a
		display: inline
		margin: 0px 3px 3px 3px
		padding: 0
		font-size: 11px
		line-height: 1em
		color: #fff
		&:hover
			color: $gray-light
			text-decoration: none
		img
			width: 15px
			height: 15px
			margin: -3px 0 0 0px
			vertical-align: middle
			&:hover
				text-decoration: none
				opacity: 0.75
				filter: alpha(opacity=75)