- @title = " | Financial Services"
- @subtitle = ""
- @body_class = "four"

- @sub1 = ["", "financial"]
- @sub2 = ["SBA Loan Program", "sba"]
- @sub3 = ["Business Acquisition Financing", "acquisition"]
- @sub4 = ["Equipment Leasing", "equipmentleasing"]
- @sub5 = ["Accounts Receivable Financing", "ar"]
- @sub6 = ["Construction Equipment Financing", "contruction"]
- @sub7 = ["Repossessed Trucking &amp; Construction Equipment", "repo"]
- @sub8 = ["Unsecured Business Loans &amp; Lines of Credit", "unsecured"]
- @sub9 = ["Church Financing Program", "church"]
- @sub10 = ["Medical Working Capital Loans", "medical"]
- @sub11 = ["Commercial Bridge Loans", "bridge"]
- @sub12 = ["Debt Restructuring", "debt"]
- @sub13 = ["Easy Pay Cash Advance", "cashavdance"]


%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#four.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #four.main
        .content
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p
              %b Loan Size $150,000 to $2.0 million

            %p
              %b Eligibility
              %br
              Most for-profit small businesses are eligible for an SBA guaranteed loan. SBA sectors include manufacturers, wholesale, retail and service businesses and independent or franchise businesses.

            %p
              %b Loan Qualifications
              %br
              &mdash; Businesses with 3-year sales average not exceeding 6 million to 20 million, depending on industry.
              %br
              &mdash; Wholesale businesses with employees up to 100
              %br
              &mdash; Manufacturers with employees up to 500 depending on the industry
              %br
              &mdash; SBA 7(A) Loan Size $150,000 to $2.0 million

            %p
              %b Fees
              %br
              &mdash; Loan packaging fee: $750 - $2,000
              %br
              &mdash; SBA guaranty fee: 1.70% to 2.60% of loan amount
              %br
              &mdash; Fee can be financed into loan
              %br
              &mdash; Fee is based on loan size and collected at the time of loan submission; refunded if declined by credit
            %p
              %b Other Credits Considerations
              %br
              &mdash; Business must have adequate historic cash flow to cover the proposed debt
              %br
              &mdash; Business debt to net worth must meet industry averages
              %br
              &mdash; Borrowers must be actively involved in the day-to-day operation of the business
              %br
              &mdash; Satisfactory personal credit histories are required for all principles and guarantors
              %br
              &mdash; No past bankruptcies or felony arrests

          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p FRG specializes in providing you with the necessary capital to fund any company you wish to acquire.
            %p
              Services we provide:
              %br
              &mdash; Analysis of the purchase price. We determine if the purchase price can be supported based upon the cash flow of the acquired entity.
              %br
              &mdash; We do an in-depth analysis to determine whether the purchase price is within industry standards.
              %br
              &mdash; Financing to purchase the company. We leverage the existing assets of the company to the maximum amount based upon cash flows available, keeping your cash requirements to a minimum.
              %br
              &mdash; We provide the equity necessary should there be a cash shortfall between the financing and the cash you are putting into the transaction.

          %a{:name => @sub4[1]}
          .section.no-image
            %h1=@sub4[0]
            %p
              %b Types of Leases Offered:
              %br
              &mdash; $250,000: No financial statements necessary; Applications are approved within 24 hours.
              %br
              &mdash;$500,000 and below; Applications approved within 2-3 days
              %br
              &mdash;$500,000+: Applications approved within 2-3 days
            %p Up to 84 months to repay with excellent rates. These programs are for companies established for 2+ years.
            %p
              %b Sale & Lease Back
              %br
              Many companies need working capital for expansion without using their bank lines for working capital. Our program allows you to use the equity in your existing equipment to give your company the working capital it needs. We buy your equipment and lease it back to you and when all the payments are made you own the equipment again.

            %p
              %b Startup Program
              %br
              Most financial institutions will not finance companies that are just going into business. If your company has just started in business, or is in business for a short time usually less than two years, we can help you grow by financing the equipment you need to be successful.

            %p
              %b B, C and D Credits
              %br
              In these tough economic times many businesses have suffered financially. Additionally, the owners of these companies have seriously damaged their personal credit. We have developed a "second chance" program to help these companies. We can structure your financial needs to help you rebuild your company.

            %p
              %b Government and Municipal Leasing
              %br
              We can provide lease financing to any government or municipal entity with guaranteed approval. The rate is determined by the rating of the municipality or government agency. A partial list of who we finance is listed below:
              %br
              &mdash; Federal Government Agencies
              %br
              &mdash; Armed Services
              %br
              &mdash; State Agencies
              %br
              &mdash; Public Schools
              %br
              &mdash; Police Department
              %br
              &mdash; Fire Houses
              %br
              &mdash; Libraries
            %p The above list is only an example of what we can finance. We can finance any state or federally controlled entity.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub5[1]}
          .section.no-image
            %h1=@sub5[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub6[1]}
          .section.no-image
            %h1=@sub6[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub7[1]}
          .section.no-image
            %h1=@sub7[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub8[1]}
          .section.no-image
            %h1=@sub8[0]
            %p
              %b Lorem ipsum
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub9[1]}
          .section.no-image
            %h1=@sub9[0]
            %p Lorem ipsum
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub10[1]}
          .section.no-image
            %h1=@sub10[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub11[1]}
          .section.no-image
            %h1=@sub11[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub12[1]}
          .section.no-image
            %h1=@sub12[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub13[1]}
          .section.no-image
            %h1=@sub13[0]
            %p A simple example of how much you can borrow: Add up your credit card monthly processing statements for the last 6 months. Perhaps it totals $540,000. Divide by 6 = $90,000. You can get 80-120% of that amount or $72,000 to $108,000.

            %p
              %b Step 1: How You Qualify
              %br
              Determine how much your average monthly credit card sales are for the last six months. Then check the simple requirements below:
              %br
              &mdash; You have been in business for 1 year or in some cases less.
              %br
              &mdash; You have at least $8,000 in credit card sales monthly.
              %br
              &mdash; You have accepted Visa, MasterCard, or American Express

            %p
              %b Step 2: Contact Us
              %br
              Call us and we'll complete a simple one page application. You will be eligible for an advance of between 80-120% of your average monthly credit card receipts.

            %p
              %b Step 3: Repay based on your ability - "Easy Pay"
              %br
              This is the best part of the program. We are banking on the fact that you will continue to do business as you did before. So we fix your payment at 15 to 20 percent of your future credit card receipts until the loan is repaid. This includes principal and interest.

            %p You keep 80% to 85%. That means that if you do very well your cash advance gets paid back sooner and if business is bad you pay back less, which means no more worries!

            %p And here's the absolutely best part of this program. Once you have repaid 50% of the advance you can make a simple phone call to re-borrow the paid amount. It's by far the quickest and easiest way to get cash short of going to your own ATM.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

              
              
      #four.sidebar
        .subnav
          %h1 Financial Services
          / .link
          /   %h5 
          /   %p
          /     %a{:href => "#"+@sub1[1]}
          /       =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub4[1]}
                =@sub4[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub5[1]}
                =@sub5[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub6[1]}
                =@sub6[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub7[1]}
                =@sub7[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub8[1]}
                =@sub8[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub9[1]}
                =@sub9[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub10[1]}
                =@sub10[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub11[1]}
                =@sub11[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub12[1]}
                =@sub12[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub13[1]}
                =@sub13[0]


        .form
          %h1 Contact Us
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "490", :width => "100%", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/r7p4r3/", :border => "none"}    

        / .text
        /   %h1 Testimonial
        /   %p "Franchise Resource Group is always bringing Rita's wonderful prospective franchise partners.  They have helped us award franchises and brought new family members to Rita's.  They are always responsive and help guide clients through our investigating process.  Most consultants leave everything up to the Franchisor but Marisol has been there every step of the way."
        /   %p
        /     %b Gina Moughty
        /     %br
        /     %sup
        /       Franchise Licensing Manager, Rita's Italian Ice Franchise

