- @title = " | Financial Services"
- @subtitle = ""
- @body_class = "four"

- @sub1 = ["", "financial"]
- @sub2 = ["SBA Loan Program", "sba"]
- @sub3 = ["Business Acquisition Financing", "acquisition"]
- @sub4 = ["Equipment Leasing", "equipmentleasing"]
- @sub5 = ["Accounts Receivable Financing", "ar"]
- @sub6 = ["Construction Equipment Financing", "contruction"]
- @sub7 = ["Repossessed Trucking &amp; Construction Equipment", "repo"]
- @sub8 = ["Unsecured Business Loans &amp; Lines of Credit", "unsecured"]
- @sub9 = ["Church Financing Program", "church"]
- @sub10 = ["Medical Working Capital Loans", "medical"]
- @sub11 = ["Commercial Bridge Loans", "bridge"]
- @sub12 = ["Debt Restructuring", "debt"]
- @sub13 = ["Easy Pay Cash Advance", "cashavdance"]


%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#four.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #four.main
        .content
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.

          %a{:name => @sub4[1]}
          .section.no-image
            %h1=@sub4[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub5[1]}
          .section.no-image
            %h1=@sub5[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub6[1]}
          .section.no-image
            %h1=@sub6[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub7[1]}
          .section.no-image
            %h1=@sub7[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub8[1]}
          .section.no-image
            %h1=@sub8[0]
            %p
              %b Our services help find the perfect franchise for YOU.
            %p Now that you have made the decision to become the proprietor of your own business through franchising, the next step is the most important one: Choosing the right franchise.
            %p There are tens of thousands of franchises available. How do you pick the right one for you?
            %p Once you have narrowed down your field of interest, selecting a franchise is a process that involves asking many questions, and examining the advantages versus the disadvantages among similar franchising options. 
            %p All franchisors have media kits that are visually stunning and enticing so that they can present the advantages of their product, but how do you know if they have a strong and reliable business structure and workable system of organization? Choosing a franchise involves proper research and a careful analysis of statistics, company background, business structure and company regulations.
            %p Franchise Resource Group has decades of experience in the franchising industry, and we fully assist and guide you in making an informed and secure decision that is backed up by real research. FRG has evaluated thousands of available and popular franchises currently on the market, and we have hand-selected every single franchise that is in our portfolio&mdash;that is not something that many other franchising consulting companies can say. 
            %p We have over 350 franchises in our portfolio, and we have selected them based on long-range, successful performance criteria so that you can be certain that your investment is secure. We pride ourselves on staying current, and we are always evaluating new franchises and emerging trends on the market.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub9[1]}
          .section.no-image
            %h1=@sub9[0]
            %p Are you ready to start your own franchise? If you are like most people, you are probably wondering where to begin.

            %p 
              Most people find themselves in one of the common scenarios listed below:
              %br
              &mdash; I want to start a business, but I don't know what kind
              %br
              &mdash; There are 1000's of franchises available&mdash;which is the right one for me?
              %br
              &mdash; I don't have any experience in running my own business&mdash;can I get the training?

            %p 
              Below are some common questions:
              %br
              &mdash; How much investment will I need?
              %br
              &mdash; Can I finance any of my investment?
              %br
              &mdash;Can I hire someone to run my business for me?

            %p Franchise Resource Group has the answer to these questions and all of your other questions that will come up along the way. As leading franchise experts with over 60 years of combined experience, we have a wealth of knowledge and are well-prepared to provide you with a solution.

            %p Please contact Franchise Resource Group today for a solution to any question you may have.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub10[1]}
          .section.no-image
            %h1=@sub10[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub11[1]}
          .section.no-image
            %h1=@sub11[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub12[1]}
          .section.no-image
            %h1=@sub12[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub13[1]}
          .section.no-image
            %h1=@sub13[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

              
              
      #four.sidebar
        .subnav
          %h1 Financial Services
          / .link
          /   %h5 
          /   %p
          /     %a{:href => "#"+@sub1[1]}
          /       =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub4[1]}
                =@sub4[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub5[1]}
                =@sub5[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub6[1]}
                =@sub6[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub7[1]}
                =@sub7[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub8[1]}
                =@sub8[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub9[1]}
                =@sub9[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub10[1]}
                =@sub10[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub11[1]}
                =@sub11[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub12[1]}
                =@sub12[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub13[1]}
                =@sub13[0]


        .form
          %h1 Contact Us
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "470", :width => "100%", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/r7p4r3/", :border => "none"}    

        / .text
        /   %h1 Testimonial
        /   %p "Franchise Resource Group is always bringing Rita's wonderful prospective franchise partners.  They have helped us award franchises and brought new family members to Rita's.  They are always responsive and help guide clients through our investigating process.  Most consultants leave everything up to the Franchisor but Marisol has been there every step of the way."
        /   %p
        /     %b Gina Moughty
        /     %br
        /     %sup
        /       Franchise Licensing Manager, Rita's Italian Ice Franchise

