- @title = " | Financial Services"
- @subtitle = ""
- @body_class = "four"

- @sub1 = ["", "financial"]
- @sub2 = ["SBA Loan Program", "sba"]
- @sub3 = ["Business Acquisition Financing", "acquisition"]
- @sub4 = ["Equipment Leasing", "equipmentleasing"]
- @sub5 = ["Accounts Receivable Financing", "ar"]
- @sub6 = ["Construction Equipment Financing", "contruction"]
- @sub7 = ["Repossessed Trucking &amp; Construction Equipment", "repo"]
- @sub8 = ["Unsecured Business Loans &amp; Lines of Credit", "unsecured"]
- @sub9 = ["Church Financing Program", "church"]
- @sub10 = ["Medical Working Capital Loans", "medical"]
- @sub11 = ["Commercial Bridge Loans", "bridge"]
- @sub12 = ["Debt Restructuring", "debt"]
- @sub13 = ["Easy Pay Cash Advance", "cashavdance"]


%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#four.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #four.main
        .content
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p
              %b Loan Size $150,000 to $2.0 million

            %p
              %b Eligibility
              %br
              Most for-profit small businesses are eligible for an SBA guaranteed loan. SBA sectors include manufacturers, wholesale, retail and service businesses and independent or franchise businesses.

            %p
              %b Loan Qualifications
              %br
              &mdash; Businesses with 3-year sales average not exceeding 6 million to 20 million, depending on industry.
              %br
              &mdash; Wholesale businesses with employees up to 100
              %br
              &mdash; Manufacturers with employees up to 500 depending on the industry
              %br
              &mdash; SBA 7(A) Loan Size $150,000 to $2.0 million

            %p
              %b Fees
              %br
              &mdash; Loan packaging fee: $750 - $2,000
              %br
              &mdash; SBA guaranty fee: 1.70% to 2.60% of loan amount
              %br
              &mdash; Fee can be financed into loan
              %br
              &mdash; Fee is based on loan size and collected at the time of loan submission; refunded if declined by credit
            %p
              %b Other Credits Considerations
              %br
              &mdash; Business must have adequate historic cash flow to cover the proposed debt
              %br
              &mdash; Business debt to net worth must meet industry averages
              %br
              &mdash; Borrowers must be actively involved in the day-to-day operation of the business
              %br
              &mdash; Satisfactory personal credit histories are required for all principles and guarantors
              %br
              &mdash; No past bankruptcies or felony arrests

          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p FRG specializes in providing you with the necessary capital to fund any company you wish to acquire.
            %p
              Services we provide:
              %br
              &mdash; Analysis of the purchase price. We determine if the purchase price can be supported based upon the cash flow of the acquired entity.
              %br
              &mdash; We do an in-depth analysis to determine whether the purchase price is within industry standards.
              %br
              &mdash; Financing to purchase the company. We leverage the existing assets of the company to the maximum amount based upon cash flows available, keeping your cash requirements to a minimum.
              %br
              &mdash; We provide the equity necessary should there be a cash shortfall between the financing and the cash you are putting into the transaction.

          %a{:name => @sub4[1]}
          .section.no-image
            %h1=@sub4[0]
            %p
              %b Types of Leases Offered:
              %br
              &mdash; $250,000: No financial statements necessary; Applications are approved within 24 hours.
              %br
              &mdash; $500,000 and below; Applications approved within 2-3 days
              %br
              &mdash; $500,000&#43;: Applications approved within 2-3 days
            %p Up to 84 months to repay with excellent rates. These programs are for companies established for 2+ years.
            %p
              %b Sale & Lease Back
              %br
              Many companies need working capital for expansion without using their bank lines for working capital. Our program allows you to use the equity in your existing equipment to give your company the working capital it needs. We buy your equipment and lease it back to you and when all the payments are made you own the equipment again.

            %p
              %b Startup Program
              %br
              Most financial institutions will not finance companies that are just going into business. If your company has just started in business, or is in business for a short time usually less than two years, we can help you grow by financing the equipment you need to be successful.

            %p
              %b B, C and D Credits
              %br
              In these tough economic times many businesses have suffered financially. Additionally, the owners of these companies have seriously damaged their personal credit. We have developed a "second chance" program to help these companies. We can structure your financial needs to help you rebuild your company.

            %p
              %b Government and Municipal Leasing
              %br
              We can provide lease financing to any government or municipal entity with guaranteed approval. The rate is determined by the rating of the municipality or government agency. A partial list of who we finance is listed below:
              %br
              &mdash; Federal Government Agencies
              %br
              &mdash; Armed Services
              %br
              &mdash; State Agencies
              %br
              &mdash; Public Schools
              %br
              &mdash; Police Department
              %br
              &mdash; Fire Houses
              %br
              &mdash; Libraries
            %p The above list is only an example of what we can finance. We can finance any state or federally controlled entity.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub5[1]}
          .section.no-image
            %h1=@sub5[0]
            %p FRG is partnered with premier national lenders, and we provide financing to small and medium sized businesses nationwide.

            %p
              Accounts receivable financing, or Factoring, is the purchase of accounts receivable invoices at a discount. If you sell your products or services to businesses that pay in 30, 60, 90 days or more, we have a liquidity solution for you. Accounts receivable financing is based on your customer's credit, thus we are able finance companies that are start-ups, losing money or in bankruptcy. Factors provide valuable services, and checks your customers' credit for you and notify you of bad risks. Qualifying accounts receive free credit insurance.
              %br
              &mdash; Cash in 24 Hours
              %br
              &mdash; No Recourse Even If Account Does Not Pay
              %br
              &mdash; Credit Insurance on Your Clients At No Cost To You
              %br
              &mdash; No Arbitrary Loan Board Decisions, No Fixed Payments
              %br
              &mdash; As Sales and Receivables Increase, Funding Increases
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub6[1]}
          .section.no-image
            %h1=@sub6[0]
            %p
              %b We finance up to $250,000 and more

            %p
              &mdash; No Financial Statements or Tax Returns
              %br
              &mdash; Same Day approval and up to 60 months to Pay
              %br
              &mdash; We do Startups and Established Companies!
              %br
              &mdash; If you have been turned down for credit from any other company, FRG can help you to receive the loan you need.


            %p FRG specializes in funding all types of specialty trucks and construction equipment. We work directly with equipment dealers or end users. If you have less than perfect credit or have been turned down by traditional sources we can help you. Transactions are approved in 24 hours or less, and we do not require financial statements or tax returns on any transaction up to $250,000.
            %p 
              We can finance these types of equipment:
              %br
              &mdash; Above Ground Fuel Tanks
              %br
              &mdash; Street Sweeper
              %br
              &mdash; Backhoe
              %br
              &mdash; Mechanic's Truck
              %br
              &mdash; Bulldozer
              %br
              &mdash; Roofing Truck
              %br
              &mdash; Chipper
              %br
              &mdash; Stump Cutter
              %br
              &mdash; Concrete Mixer
              %br
              &mdash; Flat Bed Truck
              %br
              &mdash; Cranes
              %br
              &mdash; Garbage Truck
              %br
              &mdash; Dump Truck
              %br
              &mdash; Tow Truck
              %br
              &mdash; Excavator
              %br
              &mdash; Tractor-Farming
              %br
              &mdash; Trailers
              %br
              &mdash; Sewer & Septic
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub7[1]}
          .section.no-image
            %h1=@sub7[0]
            %p We can help you get the equipment that you need, even if your company was recently denied approval by a bank, with 24-48 hour approval.

            %p 
              %a{:href => "http://lmfinancialgroup.com/repossessed-equipment-inventory.html", :target => "_blank"} View our inventory
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub8[1]}
          .section.no-image
            %h1=@sub8[0]
            %p
              %b Get Approved for $150,000 in Corporate Credit in 24 HOURS!
            %p 
              Funding for small businesses has changed...
              %br 
              In today's economic environment, banks are no longer able to lend money to businesses as they have in the past. Banks are flooded with applications from consumers and businesses, and at the same time they are facing record defaults on their existing lending. This leaves the banks with a mountain of applicants and a shrinking reserve of money to lend. Companies that formerly qualified are being instantly denied. It's just the plain truth. Fortunately we can help.

              %p Navigating each banks lending restrictions provides a challenge for your business. You have to know EXACTLY what they are looking for, and if you are uncertain you will run into a wall every time. That's where we come into play. We have over 8 years of corporate banking experience and thousands of satisfied clients under our belt.
              %p Banks have to lend money since it's the only way they can make money for their investors. Providing funding to businesses is their one viable option since businesses are not limited to how much money they can make or how they can expand.
              %p
                %b The question is: "Who do they lend to?"
                %br
                We set you up from start to finish. We establish your corporation if you don't already have one, build your business credit profile, establish your corporate credit, formulate an asset protection plan and get your company in front of our network of national and regional lenders so you'll have the best chance to get the funding your business needs with one easy, no hassle application.

              %p
                %b Debt Consolidation / Working Capital
                %br
                Fill out the form below and one of our finance professionals will give you a call, provide you with a FREE ANALYSIS and guide you through the entire process. You can get the money your business needs, even in today's economic environment. Things have changed... we can help!
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub9[1]}
          .section.no-image
            %h1=@sub9[0]
            %p
              %b Your church can be automatically approved for a loan to purchase the equipment you need now.

            %p We can finance pews, air-conditioning and heating systems, organs, sound and video equipment, pianos, computers, or just about any type of equipment your church needs. We offer low rates and up to 60 months to repay.

            %p 
              %b Our Church Equipment Finance Programs
              %br 
              We offer 3 unique programs so that churches nationwide can qualify to receive financing for equipment or necessary purchases.

            %p 
              %b Established Church Program
              %br
              &mdash; Church must be established for 7+ years if the church is part of a major denomination. 15+ yearsw if the church is non-denominational.
              %br
              &mdash; Church must maintain a minimum average bank balance of $7,000 or more. Combined accounts will qualify, example: checking &#43; savings.
              %br
              &mdash; Church must be listed with directory assistance.

            %p
              %b Newer Church Program
              %br
              &mdash; Church must be established for 2-5 years or more.
              %br
              &mdash; Church must maintain a minimum average bank balance of $2,500 or more. Combined accounts will qualify, example: checking &#43; savings.
              %br
              &mdash; Church must be listed with directory assistance.

            %p
              %b Start-Up Church Program
              %br
              &mdash; Any church that has been established less than 2 years.
              %br
              &mdash; Church must maintain a minimum average bank balance of $2,500 or more. Combined accounts will qualify example: checking &#43; savings.
              %br
              &mdash; Church must be listed with directory assistance.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub10[1]}
          .section.no-image
            %h1=@sub10[0]
            %p We provide financing for physicians, surgeons and medical facilities so that they can achieve their long-range goals and begin operating immediately. We offer very competitive rates on loans ranging from $15,000 to $250,000.

            %p Applications are approved within 48 hours of submission and funding begins within 5 days of the receipt of the signed document. We provide unique programs for Medical Professionals with Damaged Credit. This program allows up to 84 months to repay.

            %p 
              Types of Medical Professionals We Finance:
              %br
              &mdash; Board Certified Internists
              %br
              &mdash; Dermatologists
              %br
              &mdash; Maxillofacialists
              %br
              &mdash; OB/GYNs
              %br
              &mdash; Orthopedic Surgeons
              %br
              &mdash; Pediatricians
              %br
              &mdash; Plastic Surgeons
              %br
              &mdash; Cardiovascular Surgeons
              %br
              &mdash; General Surgeons
              %br
              &mdash; Neurosurgeons
              %br
              &mdash; Ophthalmologists
              %br
              &mdash; Oral Surgeons
              %br
              &mdash; Periodontists

            %p We also finance dentists, family practitioners, general practitioners, osteopaths and veterinarians.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub11[1]}
          .section.no-image
            %h1=@sub11[0]
            %p Many times a company is approved for a loan through its bank, or financial institution, however the loan may not close for 4-6 months. During that time, we can provide your company with a short-term bridge loan so that your business goals can be met in a timely manner.

            %p We also provide other types of short-term collateralized loans that usually close within 10 or less days.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub12[1]}
          .section.no-image
            %h1=@sub12[0]
            %p Growing companies enter into loan agreements to pay for equipment needed to expand their businesses. Loans have different maturities and in most cases, the companies have built-in equity in the equipment. 

            %p 
              %b We will pay off all your lenders and refinance all your equipment into one loan.

            %p This results in reduced payments of 30% or more, and great improvements in your cash flow and bottom line. 

            %p
              Here is an example of a recent transaction:
              %br 
              A manufacturing company had combined monthly payments of $28,000 per month and showed a modest $10,000 a year in profits. We refinanced all of their loans and reduced their monthly payments to $16,000 per month. Their bottom line was increased by a whopping $144,000 per year!
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub13[1]}
          .section.no-image
            %h1=@sub13[0]
            %p A simple example of how much you can borrow: Add up your credit card monthly processing statements for the last 6 months. Perhaps it totals $540,000. Divide by 6 = $90,000. You can get 80-120% of that amount or $72,000 to $108,000.

            %p
              %b Step 1: How You Qualify
              %br
              Determine how much your average monthly credit card sales are for the last six months. Then check the simple requirements below:
              %br
              &mdash; You have been in business for 1 year or in some cases less.
              %br
              &mdash; You have at least $8,000 in credit card sales monthly.
              %br
              &mdash; You have accepted Visa, MasterCard, or American Express

            %p
              %b Step 2: Contact Us
              %br
              Call us and we'll complete a simple one page application. You will be eligible for an advance of between 80-120% of your average monthly credit card receipts.

            %p
              %b Step 3: Repay based on your ability - "Easy Pay"
              %br
              This is the best part of the program. We are banking on the fact that you will continue to do business as you did before. So we fix your payment at 15 to 20 percent of your future credit card receipts until the loan is repaid. This includes principal and interest.

            %p You keep 80% to 85%. That means that if you do very well your cash advance gets paid back sooner and if business is bad you pay back less, which means no more worries!

            %p And here's the absolutely best part of this program. Once you have repaid 50% of the advance you can make a simple phone call to re-borrow the paid amount. It's by far the quickest and easiest way to get cash short of going to your own ATM.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

              
              
      #four.sidebar
        .subnav
          %h1 Financial Services
          / .link
          /   %h5 
          /   %p
          /     %a{:href => "#"+@sub1[1]}
          /       =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub4[1]}
                =@sub4[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub5[1]}
                =@sub5[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub6[1]}
                =@sub6[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub7[1]}
                =@sub7[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub8[1]}
                =@sub8[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub9[1]}
                =@sub9[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub10[1]}
                =@sub10[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub11[1]}
                =@sub11[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub12[1]}
                =@sub12[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub13[1]}
                =@sub13[0]


        .form
          %h1 Contact Us
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "490", :width => "100%", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/r7p4r3/", :border => "none"}    

        / .text
        /   %h1 Testimonial
        /   %p "Franchise Resource Group is always bringing Rita's wonderful prospective franchise partners.  They have helped us award franchises and brought new family members to Rita's.  They are always responsive and help guide clients through our investigating process.  Most consultants leave everything up to the Franchisor but Marisol has been there every step of the way."
        /   %p
        /     %b Gina Moughty
        /     %br
        /     %sup
        /       Franchise Licensing Manager, Rita's Italian Ice Franchise

