- @title = " | en Espa&ntilde;ol"
- @subtitle = ""
- @body_class = "none"

- @sub1 = ["en Espa&ntilde;ol", "/espanol"]
- @sub2 = ["Franchise Resource Group le puede ayudar a", "ayudar"]
- @sub3 = ["Nuestra Propuesta", "propuesta"]
- @sub4 = ["Lista de Servicios", "lista"]
- @sub5 = ["Nuestro Proceso", "proceso"]
- @sub6 = ["Servicios a Empresas y Clientes Internacionales", "servicios"]

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#esp.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-esp.jpg"}



.body
  .center
    .content
      #esp.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p La franquicia es uno de los sistemas empresariales que m&aacute;s ha crecido en los &uacute;ltimos a&ntilde;os. La franquicia aporta numerosos beneficios a los emprendedores, pero igualmente implica una serie de contraprestaciones econ&oacute;micas, as&iacute; como una serie de obligaciones que se deben asumir. Por ello, conocer bien sus caracter&iacute;sticas, claves y funcionamiento es esencial a la hora de decidirse entrar a formar parte de esta f&oacute;rmula empresarial.            
            
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p 
              &mdash; Conocer a fondo los requisitos de las franquicias
              %br
              &mdash; Obtener informaci&oacute;n de los negocios en los que puede estar interesado
              %br
              &mdash; Convertir su negocio en franquicia
              %br
              &mdash; Trasladarse a los Estados Unidos o Canad&aacute; con visa de inversionista
              %br
              &mdash; Establecer una franquicia de renombre internacional en el pa&iacute;s donde usted reside


          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p Franchise Reesource Group le ofrece un servicio de asesoramiento que le ayudar&aacute; a decidir cu&aacute;l es el sector de actividad y la franquicia m&aacute;s adecuada a su perfil con la m&aacute;xima fiabilidad, descubriendo opciones de negocio exclusivas y posibilidades de inversi&oacute;n exitosas. Servicios como la selecci&oacute;n de la franquicia, el estudio econ&oacute;mico y legal y la b&uacute;squeda de financiaci&oacute;n local ser&aacute;n proporcionados por nosotros.

          %a{:name => @sub4[1]}
          .section.no-image
            %h1=@sub4[0]
            %p 
              &mdash; Proveemos un an&aacute;lisis de la franquicia y una serie de consejos y preguntas para cuando usted se entreviste con las franquicias
              %br
              &mdash; Act&uacute;amos como un soporte integral, tanto para el franquiciador, como para el franquiciado. Asesorando y ayudando a determinar los objetivos a conseguir y los medios para llevarlos a cabo
              %br
              &mdash; Pre calificaci&oacute;n a nuestros clientes. Nos aseguramos que usted re&uacute;ne o no los requisitos necesarios para ser franquiciado
              %br
              &mdash; Asistimos en el proceso de financiamiento para su franquicia
              %br
              &mdash; Lo apoyamos desde el comienzo del proceso de b&uacute;squeda de franquicia hasta el d&iacute;a que usted abre su negocio
            %p Franchise Resource Group ofrece estos servicios a no costo al cliente. Las franquicias nos pagan directamente. Por ley federal las franquicias no pueden subir el precio por que usted opte a usar nuestro servicio. Usted pagara el precio publicado use o no nuestro servicio.

          %a{:name => @sub5[1]}
          .section.no-image
            %h1=@sub5[0]
            %p
              Estas son algunas de las preguntas que usted tendr&aacute; que responder antes de empezar el proceso de investigaci&oacute;n para la franquicia adecuada para usted:
              %br
              &mdash; &iquest;Cu&aacute;nto est&aacute; dispuesto a invertir?
              %br
              &mdash; &iquest;Dispone de local?
              %br
              &mdash; &iquest;Qu&eacute; expectativas econ&oacute;micas espera de la franquicia?
              %br
              &mdash; &iquest;Tomara parte activa en el negocio o pasiva?
              %br
              &mdash; &iquest;Planteara la franquicia como un autoempleo o como modelo de diversificaci&oacute;n de inversores?
              %br
              &mdash; &iquest;Cuenta con el apoyo familiar en la toma de decisi&oacute;n?
            %p Este an&aacute;lisis nos ayudar&aacute; a descubrir si su actitud y circunstancias particulares son las m&aacute;s adecuadas para integrarse en una cadena. Tenga en cuenta que tendr&aacute; que llenar formularios financieros que nos ayudaran a entender su situaci&oacute;n y metas financieras. El proceso para obtener una franquicia es largo y tedioso pero recuerde que nosotros estaremos con usted de principio a fin.

          %a{:name => @sub6[1]}
          .section.no-image
            %h1=@sub6[0]
            %p
              %b Empresas nuevas y empresas ya establecidas:
              %br
              &mdash; Desarrollo de plan de negocios
              %br
              &mdash; Estudio de Mercadeo y Estrategia de Ventas
              %br
              &mdash; Desarrollo de Marca
              %br
              &mdash; Opciones de Fondos
              %br
              &mdash; Presencia en el Internet
            %p
              %b Clientes internacionales:
              %br
              &mdash; Establecimiento de sucursal en los E.U. o incorporacion de su nuevo negocio*
              %br
              &mdash; Estrategia de Mercadeo y Ventas
              %br
              &mdash; Estudio del costo y ganancias
              %br
              &mdash; Visas de negocios o inversionistas para los due&ntilde;os y empleados ejecutivos de la empresa*
            %p
              %i * Trabajamos mano a mano con expertos para asistir a nuestros clientes en todos los aspectos empresariales.
            %p
              De antemano agradecemos la confianza que tiene al contactarnos.
              %br
              Puede contactarnos de la siguiente manera:
              %br
              %br
              TEL: 1-877-401-6102
              %br
              FAX: 281-547-3734
              %br
              EMAIL:
              %a{:href => "mailto:info@franchiseresourcegroup.com"} info@franchiseresourcegroup.com
              %br
              7910 Westglen Dr. Suite 101 Houston, TX 77063
              = " | "
              %a{:href => "http://maps.google.com/maps?q=7910+Westglen+Dr.+Suite+101+Houston,+TX+77009&hl=en&sll=37.0625,-95.677068&sspn=76.273886,88.59375&z=17", :target => "_blank"} MAPA
            %p Si est&aacute; interesado en contratar nuestros servicios, se requiere un dep&oacute;sito de $500.00 USD antes de empezar a trabajar en cualquier proyecto. Cont&aacute;ctenos para recibir m&aacute;s informaci&oacute;n.
            

              
      #esp.sidebar
        .subnav
          %h1 Franchise Resource Group le puede ayudar a
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub4[1]}
                =@sub4[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub5[1]}
                =@sub5[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub6[1]}
                =@sub6[0]

        .text
          %h1 CONTACTENOS
          %p 
            Franchise Resource Group
            = " | "
            %a{:href => "http://maps.google.com/maps?q=7910+Westglen+Dr.+Suite+101+Houston,+TX+77009&hl=en&sll=37.0625,-95.677068&sspn=76.273886,88.59375&z=17", :target => "_blank"} MAPA
            %br
            7910 Westglen Dr.
            %br
            Suite 101
            %br
            Houston, TX 77063
            %br
            %br
            1-877-402-6101
            %br
            %a{:href => "mailto:info@franchiseresourcegroup.com"} info@franchiseresourcegroup.com    



