- @sitename = "Cellnyx"

// MAIN NAVIGATION
- @link1 = ["Shop", "/home"]
- @link2 = ["About", "/about"]
- @link3 = ["HIPAA Privacy", "http://www.hhs.gov/ocr/privacy/hipaa/understanding/index.html"]
- @link4 = ["sss", "/sss"]
- @link5 = ["Contact", "/contact"]


!!! 5
%html
  %head
    %title= @sitename + @title

    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %link{:href => "/images/favicon.png", :rel => "icon"}
    %link{:href => "/images/appleIcon-1.png", :rel => "apple-touch-icon"}/
    %link{:href => "/images/appleIcon-2.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/images/appleIcon-3.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

    %link{:href => "stylesheets/font-face.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/header.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/image-slider.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/footer.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

    %script{:type => "text/javascript", :src => "javascripts/respond.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/modernizr-1.6.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.min.js"}

    // MOBILE FOOTER FIX
    :javascript
      //$(document).ready(function () {
        if(
          navigator.userAgent.match(/Android/i) ||
          navigator.userAgent.match(/webOS/i) ||
          navigator.userAgent.match(/iPhone/i) ||
          navigator.userAgent.match(/iPod/i) ||
          navigator.userAgent.match(/iPad/i)
        ){
          $('head').append('<link rel="stylesheet" href="/stylesheets/mobile.css" type="text/css" />');
        }
      //}

    // INTERNET EXPLORER STYLE
    /[if IE]
      <link rel="stylesheet" type="text/css" href="/stylesheets/all-ie-only.css" />
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="icon" href="favicon.ico" type="image/x-icon">
          


  


  %body{:class => @body_class}
    #header
      .center
        // LINKS FLOAT RIGHT, REVERSE ORDER
        %ul#topnav
          %li
            %a#five.topnav{:href => @link5[1]}
              =@link5[0]
          %li
            %a#three.topnav{:href => @link3[1], :target => "_blank"}
              =@link3[0]
          %li
            %a#two.topnav{:href => @link2[1]}
              =@link2[0]
          %li
            %a#five.topnav{:href => @link1[1]}
              =@link1[0]
    #disclaimer
      .center
        // LINKS FLOAT RIGHT, REVERSE ORDER
        %p
          %i These tests are intended for Research Use Only

    .content
      = yield
                  
    .m3c-bar
      .copyright
        :markdown
          Copyright &copy; 2011-#{Time.now.year} [#{@sitename}](/landing). All Rights Reserved.
      .powered-by
        :markdown
          Powered by [Media 3 Creative](http://media3creative.com/)
          
          
