.font-helvetica, .font-base, ul#topnav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, #header, .center {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #333333, #000000);
  background-image: -moz-linear-gradient(top, #333333, #000000);
  background-image: -o-linear-gradient(top, #333333, #000000);
  background-image: -ms-linear-gradient(top, #333333, #000000);
  background-image: linear-gradient(top, #333333, #000000);
}

.bg-gradient-reverse {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #0d0d0d));
  background-image: -webkit-linear-gradient(top, #404040, #0d0d0d);
  background-image: -moz-linear-gradient(top, #404040, #0d0d0d);
  background-image: -o-linear-gradient(top, #404040, #0d0d0d);
  background-image: -ms-linear-gradient(top, #404040, #0d0d0d);
  background-image: linear-gradient(top, #404040, #0d0d0d);
}

.bg-gradient-dark {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #262626, #000000);
  background-image: -moz-linear-gradient(top, #262626, #000000);
  background-image: -o-linear-gradient(top, #262626, #000000);
  background-image: -ms-linear-gradient(top, #262626, #000000);
  background-image: linear-gradient(top, #262626, #000000);
}

.bg-gradient-left {
  background: black;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(left, #000000, #333333);
  background-image: -moz-linear-gradient(left, #000000, #333333);
  background-image: -o-linear-gradient(left, #000000, #333333);
  background-image: -ms-linear-gradient(left, #000000, #333333);
  background-image: linear-gradient(left, #000000, #333333);
}

.bg-gradient-secondary {
  background: #c69a3d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c69a3d), color-stop(100%, #d2af64));
  background-image: -webkit-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -moz-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -o-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -ms-linear-gradient(top, #c69a3d, #d2af64);
  background-image: linear-gradient(top, #c69a3d, #d2af64);
}

.bg-gradient-secondary-light {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cca451), color-stop(100%, #d7b978));
  background-image: -webkit-linear-gradient(top, #cca451, #d7b978);
  background-image: -moz-linear-gradient(top, #cca451, #d7b978);
  background-image: -o-linear-gradient(top, #cca451, #d7b978);
  background-image: -ms-linear-gradient(top, #cca451, #d7b978);
  background-image: linear-gradient(top, #cca451, #d7b978);
}

.bg-gradient-secondary-reverse {
  background: #c69a3d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2af64), color-stop(100%, #c69a3d));
  background-image: -webkit-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -moz-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -o-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -ms-linear-gradient(top, #d2af64, #c69a3d);
  background-image: linear-gradient(top, #d2af64, #c69a3d);
}

.bg-gradient-accent {
  background: #efefef;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #efefef, #ffffff);
  background-image: -moz-linear-gradient(top, #efefef, #ffffff);
  background-image: -o-linear-gradient(top, #efefef, #ffffff);
  background-image: -ms-linear-gradient(top, #efefef, #ffffff);
  background-image: linear-gradient(top, #efefef, #ffffff);
}

.bg-gradient-gray-light {
  background: #aaaaaa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -moz-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -o-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -ms-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: linear-gradient(top, #aaaaaa, #ffffff);
}

.bg-gradient-gray-dark {
  background: #444444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #171717));
  background-image: -webkit-linear-gradient(top, #444444, #171717);
  background-image: -moz-linear-gradient(top, #444444, #171717);
  background-image: -o-linear-gradient(top, #444444, #171717);
  background-image: -ms-linear-gradient(top, #444444, #171717);
  background-image: linear-gradient(top, #444444, #171717);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
  color: black;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
  color: black;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom, ul#topnav li .sub {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: transparent;
}

.box, .center-container, .center, #header, .center #logo1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque, .center #logo1 a:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

span.text-light h1 {
  color: white !important;
}
span.text-light h2, span.text-light h3, span.text-light h4, span.text-light h5, span.text-light h6, span.text-light p, span.text-light a, span.text-light b {
  color: #aaaaaa !important;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: black !important;
  font-weight: bold;
}

.font-helvetica, .font-base, ul#topnav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, #header, .center {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #333333, #000000);
  background-image: -moz-linear-gradient(top, #333333, #000000);
  background-image: -o-linear-gradient(top, #333333, #000000);
  background-image: -ms-linear-gradient(top, #333333, #000000);
  background-image: linear-gradient(top, #333333, #000000);
}

.bg-gradient-reverse {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #0d0d0d));
  background-image: -webkit-linear-gradient(top, #404040, #0d0d0d);
  background-image: -moz-linear-gradient(top, #404040, #0d0d0d);
  background-image: -o-linear-gradient(top, #404040, #0d0d0d);
  background-image: -ms-linear-gradient(top, #404040, #0d0d0d);
  background-image: linear-gradient(top, #404040, #0d0d0d);
}

.bg-gradient-dark {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #262626, #000000);
  background-image: -moz-linear-gradient(top, #262626, #000000);
  background-image: -o-linear-gradient(top, #262626, #000000);
  background-image: -ms-linear-gradient(top, #262626, #000000);
  background-image: linear-gradient(top, #262626, #000000);
}

.bg-gradient-left {
  background: black;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(left, #000000, #333333);
  background-image: -moz-linear-gradient(left, #000000, #333333);
  background-image: -o-linear-gradient(left, #000000, #333333);
  background-image: -ms-linear-gradient(left, #000000, #333333);
  background-image: linear-gradient(left, #000000, #333333);
}

.bg-gradient-secondary {
  background: #c69a3d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c69a3d), color-stop(100%, #d2af64));
  background-image: -webkit-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -moz-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -o-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -ms-linear-gradient(top, #c69a3d, #d2af64);
  background-image: linear-gradient(top, #c69a3d, #d2af64);
}

.bg-gradient-secondary-light {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cca451), color-stop(100%, #d7b978));
  background-image: -webkit-linear-gradient(top, #cca451, #d7b978);
  background-image: -moz-linear-gradient(top, #cca451, #d7b978);
  background-image: -o-linear-gradient(top, #cca451, #d7b978);
  background-image: -ms-linear-gradient(top, #cca451, #d7b978);
  background-image: linear-gradient(top, #cca451, #d7b978);
}

.bg-gradient-secondary-reverse {
  background: #c69a3d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2af64), color-stop(100%, #c69a3d));
  background-image: -webkit-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -moz-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -o-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -ms-linear-gradient(top, #d2af64, #c69a3d);
  background-image: linear-gradient(top, #d2af64, #c69a3d);
}

.bg-gradient-accent {
  background: #efefef;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #efefef, #ffffff);
  background-image: -moz-linear-gradient(top, #efefef, #ffffff);
  background-image: -o-linear-gradient(top, #efefef, #ffffff);
  background-image: -ms-linear-gradient(top, #efefef, #ffffff);
  background-image: linear-gradient(top, #efefef, #ffffff);
}

.bg-gradient-gray-light {
  background: #aaaaaa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -moz-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -o-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -ms-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: linear-gradient(top, #aaaaaa, #ffffff);
}

.bg-gradient-gray-dark {
  background: #444444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #171717));
  background-image: -webkit-linear-gradient(top, #444444, #171717);
  background-image: -moz-linear-gradient(top, #444444, #171717);
  background-image: -o-linear-gradient(top, #444444, #171717);
  background-image: -ms-linear-gradient(top, #444444, #171717);
  background-image: linear-gradient(top, #444444, #171717);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
  color: black;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
  color: black;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom, ul#topnav li .sub {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

#header {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #444444;
}

.center #logo1 {
  position: absolute;
  top: 15px;
  left: 35px;
  margin: 0;
}
.center #logo1 a {
  display: block;
  margin: 0;
  padding: 0;
}
.center #logo1 a img {
  width: 270px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

ul#topnav {
  display: inline;
  float: left;
  margin: 20px 30px 0 325px;
  padding: 0;
  font-size: 11px;
  letter-spacing: 0.05em;
  list-style: none;
  z-index: 50;
}

ul#topnav li {
  position: relative;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

ul#topnav li a {
  display: inline;
  float: left;
  text-decoration: none;
}

ul#topnav a.topnav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  margin: 6px -1px 0 0;
  padding: 6px 1.7em;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

ul#topnav li:hover a.topnav, ul#topnav li a.topnav:hover {
  color: white;
  background: black;
}

ul#topnav li .sub {
  display: none;
  position: absolute;
  display: inline;
  float: left;
  top: 30px;
  left: 1px;
  background: black;
  padding: 5px 1em 6px 1em;
  border-top: 3px solid #c69a3d;
  border-bottom: 1px solid #171717;
  border-right: 1px solid #171717;
  z-index: 50;
}

ul#topnav li .row {
  display: inline;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

ul#topnav li .sub ul {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#topnav .sub ul li {
  width: 120px;
}

ul#topnav .sub ul#four li {
  width: 180px;
}

ul#topnav .sub ul li h2 a {
  margin: 0 0 0.5em 0;
  background-image: none;
}

ul#topnav .sub ul li a {
  display: block;
  float: none;
  height: auto;
  margin: 0 0 0.7em 0;
  color: #444444;
  font-size: 11px;
  text-indent: 0;
  text-decoration: none;
}

ul#topnav .sub ul li a:hover {
  color: white;
}

ul#topnav .sub ul li h2 {
  margin: 0 0 0.5em 0;
  padding: 0;
  color: #c69a3d;
  font-size: 11px;
  font-weight: bolder;
}

.navigation-hover, body.one a#one, body.two a#two, body.five a#five, body.four a#four, body.three a#three {
  color: white;
}
