.font-helvetica, .font-base, .image-slider .center h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, .image-slider .center p.link {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #333333, #000000);
  background-image: -moz-linear-gradient(top, #333333, #000000);
  background-image: -o-linear-gradient(top, #333333, #000000);
  background-image: -ms-linear-gradient(top, #333333, #000000);
  background-image: linear-gradient(top, #333333, #000000);
}

.bg-gradient-reverse, .image-slider .center p.link:hover {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #0d0d0d));
  background-image: -webkit-linear-gradient(top, #404040, #0d0d0d);
  background-image: -moz-linear-gradient(top, #404040, #0d0d0d);
  background-image: -o-linear-gradient(top, #404040, #0d0d0d);
  background-image: -ms-linear-gradient(top, #404040, #0d0d0d);
  background-image: linear-gradient(top, #404040, #0d0d0d);
}

.bg-gradient-dark {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #262626, #000000);
  background-image: -moz-linear-gradient(top, #262626, #000000);
  background-image: -o-linear-gradient(top, #262626, #000000);
  background-image: -ms-linear-gradient(top, #262626, #000000);
  background-image: linear-gradient(top, #262626, #000000);
}

.bg-gradient-left {
  background: black;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(left, #000000, #333333);
  background-image: -moz-linear-gradient(left, #000000, #333333);
  background-image: -o-linear-gradient(left, #000000, #333333);
  background-image: -ms-linear-gradient(left, #000000, #333333);
  background-image: linear-gradient(left, #000000, #333333);
}

.bg-gradient-secondary {
  background: #c69a3d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c69a3d), color-stop(100%, #d2af64));
  background-image: -webkit-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -moz-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -o-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -ms-linear-gradient(top, #c69a3d, #d2af64);
  background-image: linear-gradient(top, #c69a3d, #d2af64);
}

.bg-gradient-secondary-light {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cca451), color-stop(100%, #d7b978));
  background-image: -webkit-linear-gradient(top, #cca451, #d7b978);
  background-image: -moz-linear-gradient(top, #cca451, #d7b978);
  background-image: -o-linear-gradient(top, #cca451, #d7b978);
  background-image: -ms-linear-gradient(top, #cca451, #d7b978);
  background-image: linear-gradient(top, #cca451, #d7b978);
}

.bg-gradient-secondary-reverse {
  background: #c69a3d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2af64), color-stop(100%, #c69a3d));
  background-image: -webkit-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -moz-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -o-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -ms-linear-gradient(top, #d2af64, #c69a3d);
  background-image: linear-gradient(top, #d2af64, #c69a3d);
}

.bg-gradient-accent {
  background: #efefef;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #efefef, #ffffff);
  background-image: -moz-linear-gradient(top, #efefef, #ffffff);
  background-image: -o-linear-gradient(top, #efefef, #ffffff);
  background-image: -ms-linear-gradient(top, #efefef, #ffffff);
  background-image: linear-gradient(top, #efefef, #ffffff);
}

.bg-gradient-gray-light {
  background: #aaaaaa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -moz-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -o-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -ms-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: linear-gradient(top, #aaaaaa, #ffffff);
}

.bg-gradient-gray-dark {
  background: #444444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #171717));
  background-image: -webkit-linear-gradient(top, #444444, #171717);
  background-image: -moz-linear-gradient(top, #444444, #171717);
  background-image: -o-linear-gradient(top, #444444, #171717);
  background-image: -ms-linear-gradient(top, #444444, #171717);
  background-image: linear-gradient(top, #444444, #171717);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
  color: black;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
  color: black;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom, .nivoSlider img {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all, .image-slider .center p.link, .nivoSlider, #slider-wrapper, #slider {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .image-slider .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: transparent;
}

.box, .center-container, .image-slider .center, .image-slider, .image-slider .center h1, .image-slider .center h3, .image-slider .center p.link, .nivoSlider, .nivoSlider img, #slider-wrapper, #slider {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

span.text-light h1 {
  color: white !important;
}
span.text-light h2, span.text-light h3, span.text-light h4, span.text-light h5, span.text-light h6, span.text-light p, span.text-light a, span.text-light b {
  color: #aaaaaa !important;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: black !important;
  font-weight: bold;
}

.font-helvetica, .font-base, .image-slider .center h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, .image-slider .center p.link {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #333333, #000000);
  background-image: -moz-linear-gradient(top, #333333, #000000);
  background-image: -o-linear-gradient(top, #333333, #000000);
  background-image: -ms-linear-gradient(top, #333333, #000000);
  background-image: linear-gradient(top, #333333, #000000);
}

.bg-gradient-reverse, .image-slider .center p.link:hover {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #0d0d0d));
  background-image: -webkit-linear-gradient(top, #404040, #0d0d0d);
  background-image: -moz-linear-gradient(top, #404040, #0d0d0d);
  background-image: -o-linear-gradient(top, #404040, #0d0d0d);
  background-image: -ms-linear-gradient(top, #404040, #0d0d0d);
  background-image: linear-gradient(top, #404040, #0d0d0d);
}

.bg-gradient-dark {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #262626, #000000);
  background-image: -moz-linear-gradient(top, #262626, #000000);
  background-image: -o-linear-gradient(top, #262626, #000000);
  background-image: -ms-linear-gradient(top, #262626, #000000);
  background-image: linear-gradient(top, #262626, #000000);
}

.bg-gradient-left {
  background: black;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(left, #000000, #333333);
  background-image: -moz-linear-gradient(left, #000000, #333333);
  background-image: -o-linear-gradient(left, #000000, #333333);
  background-image: -ms-linear-gradient(left, #000000, #333333);
  background-image: linear-gradient(left, #000000, #333333);
}

.bg-gradient-secondary {
  background: #c69a3d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c69a3d), color-stop(100%, #d2af64));
  background-image: -webkit-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -moz-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -o-linear-gradient(top, #c69a3d, #d2af64);
  background-image: -ms-linear-gradient(top, #c69a3d, #d2af64);
  background-image: linear-gradient(top, #c69a3d, #d2af64);
}

.bg-gradient-secondary-light {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cca451), color-stop(100%, #d7b978));
  background-image: -webkit-linear-gradient(top, #cca451, #d7b978);
  background-image: -moz-linear-gradient(top, #cca451, #d7b978);
  background-image: -o-linear-gradient(top, #cca451, #d7b978);
  background-image: -ms-linear-gradient(top, #cca451, #d7b978);
  background-image: linear-gradient(top, #cca451, #d7b978);
}

.bg-gradient-secondary-reverse {
  background: #c69a3d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2af64), color-stop(100%, #c69a3d));
  background-image: -webkit-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -moz-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -o-linear-gradient(top, #d2af64, #c69a3d);
  background-image: -ms-linear-gradient(top, #d2af64, #c69a3d);
  background-image: linear-gradient(top, #d2af64, #c69a3d);
}

.bg-gradient-accent {
  background: #efefef;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #efefef, #ffffff);
  background-image: -moz-linear-gradient(top, #efefef, #ffffff);
  background-image: -o-linear-gradient(top, #efefef, #ffffff);
  background-image: -ms-linear-gradient(top, #efefef, #ffffff);
  background-image: linear-gradient(top, #efefef, #ffffff);
}

.bg-gradient-gray-light {
  background: #aaaaaa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -moz-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -o-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: -ms-linear-gradient(top, #aaaaaa, #ffffff);
  background-image: linear-gradient(top, #aaaaaa, #ffffff);
}

.bg-gradient-gray-dark {
  background: #444444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #171717));
  background-image: -webkit-linear-gradient(top, #444444, #171717);
  background-image: -moz-linear-gradient(top, #444444, #171717);
  background-image: -o-linear-gradient(top, #444444, #171717);
  background-image: -ms-linear-gradient(top, #444444, #171717);
  background-image: linear-gradient(top, #444444, #171717);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #b4d5ff;
  color: black;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #b4d5ff;
  color: black;
}

.corner-top-left {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
}

.corner-top-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-top {
  -moz-border-radius-topleft: 7px;
  -khtml-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.corner-right {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-bottom, .nivoSlider img {
  -moz-border-radius-bottomleft: 7px;
  -khtml-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.corner-left {
  -moz-border-radius-topright: 7px;
  -khtml-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -khtml-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.corner-all, .image-slider .center p.link, .nivoSlider, #slider-wrapper, #slider {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.image-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.image-slider .center {
  padding: 30px 0 15px;
}
.image-slider .center h1 {
  font-family: "Embed-Helvetica";
  width: 900px;
  margin: 15px 0 0 0;
  padding: 0 30px 0.2em 300px;
  color: #333333;
  font-size: 30px;
  font-weight: 100;
  text-align: right;
  line-height: 1em;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}
.image-slider .center h3 {
  position: relative;
  top: 0px;
  width: 900px;
  margin: 0 0 6px 0;
  padding: 0.4em 30px 0.4em 450px;
  color: #444444;
  font-size: 14px;
  font-weight: 200;
  text-align: right;
  line-height: 1.1em;
}
.image-slider .center p.link {
  position: absolute;
  bottom: 15px;
  color: white;
  border: 1px solid black;
}
.image-slider .center p.link a {
  font-family: "Embed-Helvetica";
  display: block;
  padding: 9px 2em 8px 2em;
  color: inherit;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}

.button-left {
  left: 30px;
}

.button-right {
  right: 30px;
}

.nivoSlider {
  position: relative;
  width: 900px;
  height: 300px;
}

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 900px;
  height: 300px;
}

.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}

.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
}

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
}

.nivo-caption {
  position: absolute;
  left: 0px;
  top: 0px;
  background: transparent;
  color: black;
  opacity: 0.8;
  width: 100%;
  z-index: 8;
}

.nivo-caption p {
  padding: 5px;
  margin: 0;
}

.nivo-caption a {
  display: inline !important;
}

.nivo-html-caption {
  display: none;
}

.nivo-directionNav {
  width: 900px;
  margin: 0;
  padding: 0;
}

.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  background: url(/images/nivo/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

a.nivo-prevNav {
  left: 15px;
}

a.nivo-nextNav {
  right: 15px;
  background-position: -30px 0;
}

.nivo-controlNav a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.nivo-controlNav a.active {
  font-weight: bold;
}

#slider-wrapper {
  font-family: "Embed-Helvetica";
  position: relative;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #dadada;
  background: #efefef;
}

#slider {
  position: relative;
  width: 900px;
  height: 300px;
}

#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#slider a {
  border: 0;
  display: block;
}

.nivo-controlNav {
  position: absolute;
  left: 260px;
  bottom: -42px;
}

.nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(/images/nivo/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

.nivo-controlNav a.active {
  background-position: 0 -22px;
}

.nivo-caption {
  position: absolute;
  top: 0;
  height: 300px;
}

.nivo-caption {
  text-shadow: none;
}

.nivo-caption a {
  color: #efe9d1;
  text-decoration: underline;
}
