- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption2"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-3.jpg", :title => "#caption3"}/
      #caption1.nivo-html-caption
        %h1 Connecting people with opportunities
        %h3 We can help you find a low cost franchise package that meets your business ownership dreams.
        %p.link.button-right
          = link_to "Learn More", "/solutions"
      #caption2.nivo-html-caption
        %h1 Over 350 franchises at your fingertips
        %h3 We can help you realize your business ownership goals by walking you through the process of obtaining a franchise from our extensive portfolio of over 350 available franchises.
        %p.link.button-left
          = link_to "Learn More", "/solutions#categories"
      #caption3.nivo-html-caption
        %span.text-light
          %h1
            When financing is a challenge,
            %br/
            we say 'YES' when banks say 'NO'
          %h3
            We make financing personal. We provide financing solutions for your business, whether you need new equipment, finance your accounts receivable, raise working capital, or acquire a company,
            %br
            we can do it all.
        %p.link.button-right
          = link_to "Learn More", "/financial"

.body
  .center
    .content
      #one.left
        %a.container{:href => "/solutions"}
          %h1 Buy a franchise
          %h3 Our services help you find the perfect franchise for you
          %p.link Invest Today  >
      #one.middle
        %a.container{:href => "/development"}
          %h1 Expand your business
          %h3 We can help in the development of a franchise system
          %p.link Discover How  >
      #one.right
        %a.container{:href => "/financial"}
          %h1 Financial Services
          %h3 We can connect you with an opportunity that best meets your dreams.
          %p.link Get Started  >