- @title = " | Home"
- @subtitle = ""
- @body_class = "none"


%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.body
  .center
    .content
      .sidebar.left
        %img.logo{:src => "/images/logo.png", :alt => "Cellnyx Logo"}
        

      .main
        .content
          #products
            .item
              .details
                %h1
                  %span.thin Can
                  Scan
                %p Shows propensity for developing cancer
              .price
                %h2 $999
              .button
                %a{:href => "#"}
                  %img{:src => "/images/btn_cart_LG.gif"}
            .item
              .details
                %h1
                  %span.thin Can
                  Screen
                %p Reports if a patient has cancer
              .price
                %h2 $1,999
              .button
                %a{:href => "#"}
                  %img{:src => "/images/btn_cart_LG.gif"}
            .item
              .details
                %h1
                  %span.thin Can
                  Solution
                %p Identifies which treatment is the best for a patient with cancer
              .price
                %h2 $2,999
              .button
                %a{:href => "#"}
                  %img{:src => "/images/btn_cart_LG.gif"}
            

