- @title = " | Franchise Development - Expand Your Business"
- @subtitle = ""
- @body_class = "three"

- @sub1 = ["", "development"]
- @sub2 = ["Services", "services"]
- @sub3 = ["Evaluation", "evaluation"]
- @sub4 = ["Policies &amp; Procedures", "policies"]
- @sub5 = ["Legal", "legal"]
- @sub6 = ["System Development", "develop"]
- @sub7 = ["Marketing Strategy", "marketing"]
- @sub8 = ["Digital Media", "media"]
- @sub9 = ["Franchise Management", "management"]

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #three.main
        .content
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p Franchising may be the key to unlocking your growth potential. We are a full service franchise consulting group and can help you determine if you are a good candidate for franchising.
            %p What does it mean to be ready to franchise? No one is ready until they have gone through the entire four phase process, but there are many indicators that can help you decide if you are a good candidate. We discuss these with you before you make any decision to move forward.
            %p Franchise Development Group brings all the necessary franchise legal experience, business and operations experience, franchise experience, and franchise sales and marketing experience to take you through each phase of the franchise process.
            %p If you are thinking of expanding your business you should consider all the alternatives in order to make an informed decision. We will help you decide if duplicating your business through franchising is a viable option for you.

          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p If you have a successful business, turning it into a franchise can be one of the most lucrative decisions that you ever make. The evaluation process to see whether your business qualifies and can be duplicated is multi-fold and usually involves some new development steps.
            %p Please take a look at our online questionnaire to see if your business meets the requirements for franchising. If your business does, then let us help with a more detailed evaluation without any cost to you.
            / %p Our goal is to help selective companies improve the speed to market expansion through the franchising process. Let us begin to help you by determining if your business is franchisable. Contact us for a complimentary analysis of your business. We will try to help you in any way we can.

          %a{:name => @sub4[1]}
          .section.no-image
            %h1=@sub4[0]
            %p One of the most crucial steps in building a franchise is the initial step of creating policy and a system of procedures that always works. "Policy" is the infrastructure upon which the entire franchise relies upon in order to operate, and it needs to be seamless. FRG assists you throughout this developmental process through our unique methods that first involves listening and observing. We next gather important information through questionnaires which allow us to lay the groundwork for developing the policies and procedures that eventually become part of your system operations and your franchise operations and training manual.
            %p
              For more information regarding this process please request your copy of 
              %a{:href => "http://houston.franchisedevelopmentgroup.com/request.php?wp=why", :target => "_blank"} Why, How and When to Franchise.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub5[1]}
          .section.no-image
            %h1=@sub5[0]
            %p Franchise rules and regulations protect the franchiser as well as the franchisee, and as the franchiser you are benefited in many ways by making certain that your legal paperwork is thoroughly completed and that there are no loopholes that leave you exposed. Accurate disclosure on the part of a franchiser, qualifying for exemptions and limiting your risk is the purpose and the goal of the legal process. 
            %p At FRG, we have taken many businesses from successful single-location operations to large franchise empires, and we know all of the necessary documents and legal work that will protect you from any risk. We prepare your initial Franchise Disclosure Document (FDD) and franchise agreement and make sure that it is current with the law. 
            %p
              For more information please request your copies of
              %a{:href => "http://houston.franchisedevelopmentgroup.com/request.php?wp=why", :target => "_blank"} Why, How and When to Franchise
              and
              %a{:href => "http://houston.franchisedevelopmentgroup.com/request.php?wp=who", :target => "_blank"} Who to Use
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub6[1]}
          .section.no-image
            %h1=@sub6[0]
            %p An essential and significant aspect of any franchise's growth is the development of the franchise business format. A franchise business format is what makes the franchise operate and is the direct reason for it's growth and constant improvement. A franchise system needs to be strict and have accountability, as well as room to adopt new policies and evolve with current standards. A franchisee pays for a successful business format, and it essential that your business format is complete and fully-developed. Usually, the more time spent in system development, the better the chance of a long-term successful franchise system. 
            %p Successful franchise systems lay the foundation with a completely developed business format.

            
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub7[1]}
          .section.no-image
            %h1=@sub7[0]
            %p Having an exciting franchise opportunity and letting others know that it exists is the key to successful marketing. But the question remains: How do you expose yourself to the right audience? And are you presenting the right image for yourself?
            %p This is where the strategic and creative side of marketing comes together to build you and your franchise an attention-grabbing campaign. Based upon your advertising budget and objectives, we are able to create a campaign for you that meets your goal of getting people aware and interested, and then to a point where they consider purchasing your franchise. 
            %p Please contact FRG so that we can help you to develop and implement a successful marketing campaign your plan and to also act as your franchise sales outsource (FOS). An FOS follows up on all leads, sends out information and documents and brings qualified applicants to you for final consideration.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub8[1]}
          .section.no-image
            %h1=@sub8[0]
            %p
              %b You never get a second chance to make a first impression.
            %p In today's technology savvy market, everyone's first impression of your business is usually through its website. This being said, it's incredibly important to have a website that is up to date, well-designed, informational and crafted with specific goals in mind. At FRG, we know that your company's image is inextricably linked to its growth and success, and this is why we created a special department that caters solely to the franchise industry's digital media unique requirements.
            %p We have the tools and experience to create and ensure that your website is both up-to-date, sophisticated and meets its online goals.
            %p Franchise Development Group Digital Media specializes in franchise web design and web based franchise management tools. We understand franchising and with our expertise in digital media we can create a site for you that will not only present your business but will have tools to gather and track leads, send out information and manage your franchise system through BackOffice applications designed to benefit you and your franchisees.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub9[1]}
          .section.no-image
            %h1=@sub9[0]
            %p Becoming a successful franchise company not only in transition, but ongoing, is a vital part of what we help you do. We provide management tools as well as help you develop effective franchise attitudes and actions. Areas of importance are your franchise goals, franchise experience and innovation, negotiation with franchisees, communications, furnishing valuable services to franchisees, operating systems and services, ongoing training, advertising and marketing, supply programs, financial services and guidance, technology & Internet, system standards, disclosure regulation compliance, audit programs and dispute resolution procedures.  
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^
              


      #three.sidebar
        .subnav
          %h1 Franchise Development
          / .link
          /   %h5 
          /   %p
          /     %a{:href => "#"+@sub1[1]}
          /       =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub4[1]}
                =@sub4[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub5[1]}
                =@sub5[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub6[1]}
                =@sub6[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub7[1]}
                =@sub7[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub8[1]}
                =@sub8[0]

        .form
          %h1 Contact Us
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "665", :width => "100%", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/r7p4z9/", :border => "none"}    

        .text
          %h1 Testimonial
          .youtube-sm
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "155", :src => "http://www.youtube.com/embed/30y_5pIqa9c", :width => "220"}
          %p
            %a{:href => "/home#testimonials"} More Testimonials >