- @title = " | Franchise Development - Expand Your Business"
- @subtitle = ""
- @body_class = "three"

- @sub1 = ["Franchise Solutions", "solutions"]
- @sub2 = ["Services", "services"]
- @sub3 = ["Evaluation", "evaluation"]
- @sub4 = ["Policies &amp; Procedures", "policies"]
- @sub5 = ["Legal", "legal"]
- @sub6 = ["System Development", "develop"]
- @sub7 = ["Marketing Strategy", "marketing"]
- @sub8 = ["Digital Media", "media"]
- @sub9 = ["Franchise Management", "management"]

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #three.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.

          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.

          %a{:name => @sub4[1]}
          .section.no-image
            %h1=@sub4[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %a{:name => @sub5[1]}
          .section.no-image
            %h1=@sub5[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.

          %a{:name => @sub6[1]}
          .section.no-image
            %h1=@sub6[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %a{:name => @sub7[1]}
          .section.no-image
            %h1=@sub7[0]
            %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.

          %a{:name => @sub8[1]}
          .section.no-image
            %h1=@sub8[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %a{:name => @sub9[1]}
          .section.no-image
            %h1=@sub9[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
              


      #three.sidebar
        .subnav
          %h1 Subnav Sidebar
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub4[1]}
                =@sub4[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub5[1]}
                =@sub5[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub6[1]}
                =@sub6[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub7[1]}
                =@sub7[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub8[1]}
                =@sub8[0]

        .form
          %h1 Contact Us
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "365", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p6z1/", :border => "none"}    

        .text
          %h1 Testimonial
          %p "Franchise Resource Group is always bringing Rita's wonderful prospective franchise partners.  They have helped us award franchises and brought new family members to Rita's.  They are always responsive and help guide clients through our investigating process.  Most consultants leave everything up to the Franchisor but Marisol has been there every step of the way."
          %p
            %b Gina Moughty
            %br
            %sup
              Franchise Licensing Manager, Rita's Italian Ice Franchise
          %p
            %a{:href => "/home#testimonials"} More Testimonials >