- @title = " | Franchise Solutions &mdash; Buy A Franchise"
- @subtitle = ""
- @body_class = "two"

- @sub1 = ["", "consulting"]
- @sub2 = ["Services", "services"]
- @sub3 = ["Levels of Investment", "levels"]
- @sub4 = ["Advantages", "advantages"]
- @sub5 = ["Categories", "categories"]
- @sub6 = ["Financing", "financing"]
- @sub7 = ["Guide", "guide"]
- @sub8 = ["Selecting a Franchise", "selecting"]
- @sub9 = ["Frequently Asked Questions", "faq"]


%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}



.body
  .center
    .content
      #two.main
        .content
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p Franchise Resource Group is a full-service consulting firm and we bring you all the necessary knowledge and experience so that you never have any unanswered questions. As a consumer, we do not charge you for informative and educational support services regarding franchises. It is our goal to connect you with the right information so that you may make a secure investment - whether this takes weeks or months we are here to serve you.

          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p The right level of franchising is just as important as picking the perfect franchise. At FRG we have identified 4 unique levels of franchising that each require a different level of capital and participation. There are importance aspects to consider for each level, and we are able to discuss these with you in greater detail so that we are able to find what suits your needs best. 

          %a{:name => @sub4[1]}
          .section.no-image
            %h1=@sub4[0]
            %p The most obvious advantage of franchising is the ability to acquire an established and well-recognized brand, but there are also many other benefits associated with franchising. When you invest in a franchise, most of the financial burden is taken on by the franchisor, so when it comes to marketing your brand at the national level you are already covered by the corporate big-budget. Another benefit of franchises is the ability to purchase all necessary equipment and products at a fraction of the price. Additionally, most franchisors provide you and your staff with training to ensure that your business is being managed properly so that you are successful.  
            %p Come in for an educational consultation today and we will talk to you about all the other benefits associated with franchising.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub5[1]}
          .section.no-image
            %h1=@sub5[0]
            %p When it comes to franchising, there is an unlimited array of options to choose from. At FRG, we offer an exceptionally full-range of categories to choose from. We have an incredible amount of experience in the franchising industry, and we are able to give you excellent feedback and advice regarding your categorical interests. Remember, the franchises we offer in our portfolio have been handpicked from hundreds of others.
            %p 
              See our 
              %a{:href => "http://www.wanttofranchise.com/", :target => "_blank"} list of categories.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub6[1]}
          .section.no-image
            %h1=@sub6[0]
            %p Whether your business has just started, or is well established, we have a financing solution for you.
            %p Banks do not always provide the necessary financing for small to medium-sized businesses. This is where FRG is able to step in and provide resources so that the investor can receive the financing that is required. Being in the franchise industry for many decades, we have built partnerships with national lenders who can provide you with the right kind of funding.
            %p Whether you need to get new equipment, finance your accounts receivable and inventory, raise working capital, or acquire a company, we are able to assist you.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub7[1]}
          .section.no-image
            %h1=@sub7[0]
            %p At FRG, we know everything that you will ever need or want to know about franchising. We take pleasure in educating our clients about the specifics of franchising, the advantages and also the disadvantages that may exist in certain circumstances. Franchising offers the business owner an opportunity to to build and expand their very own business without all the initial risks associated with opening your own company. Brand awareness, a successfully proven business concept, national advertising campaigns, employee training&mdash;these are only a few of the advantages that franchising offers that help the owner to quickly build his own empire of multiple franchises.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub8[1]}
          .section.no-image
            %h1=@sub8[0]
            %p
              %b Our services help find the perfect franchise for YOU.
            %p Now that you have made the decision to become the proprietor of your own business through franchising, the next step is the most important one: Choosing the right franchise.
            %p There are tens of thousands of franchises available. How do you pick the right one for you?
            %p Once you have narrowed down your field of interest, selecting a franchise is a process that involves asking many questions, and examining the advantages versus the disadvantages among similar franchising options. 
            %p All franchisors have media kits that are visually stunning and enticing so that they can present the advantages of their product, but how do you know if they have a strong and reliable business structure and workable system of organization? Choosing a franchise involves proper research and a careful analysis of statistics, company background, business structure and company regulations.
            %p Franchise Resource Group has decades of experience in the franchising industry, and we fully assist and guide you in making an informed and secure decision that is backed up by real research. FRG has evaluated thousands of available and popular franchises currently on the market, and we have hand-selected every single franchise that is in our portfolio&mdash;that is not something that many other franchising consulting companies can say. 
            %p We have over 350 franchises in our portfolio, and we have selected them based on long-range, successful performance criteria so that you can be certain that your investment is secure. We pride ourselves on staying current, and we are always evaluating new franchises and emerging trends on the market.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

          %a{:name => @sub9[1]}
          .section.no-image
            %h1=@sub9[0]
            %p Are you ready to start your own franchise? If you are like most people, you are probably wondering where to begin.
            %p 
              Most people find themselves in one of the common scenarios listed below:
              %br
              &mdash; I want to start a business, but I don't know what kind
              %br
              &mdash; There are 1000s of franchises available&mdash;which is the right one for me?
              %br
              &mdash; I don't have any experience in running my own business&mdash;can I get the training?
            %p 
              Below are some common questions:
              %br
              &mdash; How much investment will I need?
              %br
              &mdash; Can I finance any of my investment?
              %br
              &mdash;Can I hire someone to run my business for me?
            %p Franchise Resource Group has the answer to these questions and all of your other questions that will come up along the way. As leading franchise experts with over 60 years of combined experience, we have a wealth of knowledge and are well-prepared to provide you with a solution.
            %p Please contact Franchise Resource Group today for a solution to any question you may have.
            %p.page-top
              %a{:href => "/"+@sub1[1]} Top ^

              
              
      #two.sidebar
        .subnav
          %h1 Franchise Solutions
          / .link
          /   %h5 
          /   %p
          /     %a{:href => "#"+@sub1[1]}
          /       =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub4[1]}
                =@sub4[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub5[1]}
                =@sub5[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub6[1]}
                =@sub6[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub7[1]}
                =@sub7[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub8[1]}
                =@sub8[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub9[1]}
                =@sub9[0]
        .form
          %h1 Contact Us
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "670", :width => "100%", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/r7p4w7/", :border => "none"}    

        .text
          %h1 Testimonial
          %p "We have enjoyed working with Franchise Resource Group in the Houston market. They are professional and focused on helping the entrepreneur find the right opportunity."
          %p
            %b Denise Upchurch
            %br
            %sup
              Franchise Expansion, Servpro Industries, Inc.
          %p
            %a{:href => "/home#testimonials"} More Testimonials >
        
